<header class=" sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">Blog de viajes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="justify-content-end collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/new']" routerLinkActive="active" >Nuevo Post</a>
          </li>
            <select class="dropdowm-menu">
                <option lass="nav-link dropdown-toggle" [routerLink]="['/home']" >Elige una categoria</option>
                <option [routerLink]="['/category', category.title]" *ngFor="let category of arrCategories" class="dropdown-item" [value]="category.title" >{{category.title}}</option>
            </select>
        </ul>
      </div>
    </div>
  </nav>
</header>
<body>
  <router-outlet></router-outlet>
</body>
