extends layout 
block content 


  div.container.border.boder-dark.mt-3
      div.card-body
        h5.card-title Paquetes Vacionales
        a.btn.btn-success.me-auto.w-100(href="/lista") Consultar 

  div.container.border.boder-dark.mt-3
      div.card-body
        h5.card-title Clientes
        a.btn.btn-success.me-auto.w-100(href="/clients") Consultar 





  